<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bitholic Monitor Site</title>
  <link href="/main.css?<%=global.cache%>" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="menu1">
          <a class="nav-link" href="/qa/list">모니터링 </a>
        </li>
        <li class="nav-item"  id="menu2">
          <a class="nav-link" href="/secondAuth/list">빗썸 공지사항</a>
        </li>
        <li class="nav-item"  id="menu2">
          <a class="nav-link" href="/monitor/list">업비트 공지사항</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    

</div>
<script src="/build.js?<%=global.cache%>"></script>
</body>
</html>